body{
    background-color:#fff2e6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#e67300;
}   
h1{
    color: #b30000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}